*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monaco', sans-serif;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h7{
   color: #adb3b9;
   font-size: 80%;
}


.side-menu{
    position: fixed;
    width: 15vw;
    background-color: #2E3648;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #626ED4;
}

.side-menu .brand-name{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #626ED4;
    
}

.side-menu .section1{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 70%;
    color: #adb3b9;
}

.side-menu .section2{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 70%;
    color: #adb3b9;
}

.side-menu li{
    font-size: 12px;
    padding: 9px 10px;
    color: #adb3b9;
    display: flex;
    align-items:center;
}

.side-menu li:hover{
    background-color: #E9ECEF ;
    color: #2E3648;
}

.container{
    position: absolute;
    right: 0;
    width: 85vw;
    height: 100vh;
    background: #222736;
}

.container .footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 85vw;
    height: 5vh;
    background: #36394C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 85vw;
    height: 9vh;
    background: #36394C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .header .nav{
    width: 97%;
    display: flex;
    align-items: center;   
}

.search{
    position: relative;
}

.container .header .nav .user .search input[type=text]{
    border: none;
    border-radius: 20px;
    background: #2E3648 ;
    padding: 10px;
    width: 150px;
}

.search img{
    position: absolute;
    right: 2vh;
    bottom: 1vh;
    top: 1vh;

}

.container .header .nav .search button img{
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .header .nav .user img{
    width: 17px;
    height: 17px;

}
.container .header .nav .user{
    flex: 1; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 80%;
    color: white;

}

.menu{
    position: relative;
    font-weight: lighter;
}

.menu a{
    padding-right: 20px;
}

.user img{
    margin-left: 10px;
}

.user h7{
    padding-left: 7px;
    font-size: 90%;
    color: white;
}

.container .header .nav .menu{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arr{
    position: absolute;
    left: 75px;
    top: 5px;
}

.container .content{
    position: relative;
    margin-top: 13vh;
    margin-left: 1vh;
    min-height: 90vh;
    color: white;
    font-size: 80%;
}
.container .content .cards{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
/* flexbox box */
.container .content .cards .card{
    width: 250px;
    height: 18vh;
    background: #626ED4;
    margin: 3px 1px;
    display: flex;
    justify-content: flex-start;
    align-items: top;
    border-radius: 5px;
    flex-direction: column;
}

.container .content .cards .card .card-top{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}


.container .content .cards .card .card-top .icon-case{
    padding: 2vh;
    border-radius: 20px;
}

.container .content .cards .card .card-top .box{
    padding-top: 2.25vh;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    
}

.container .content .cards .card .card-top .box h3{
    padding-top: 8px;
    max-width: fit-content;
}

.box h7{
    position: relative;
}

.box img{
    position: absolute;
    top:45px;
    left: 108vh;
}

.container .content .cards .card .card-top .arrow{
    padding-top: 5vh;
    flex-grow: 4;
}

.container .content .cards .card .card-top .bookmark{
    padding-top: 1vh;
    float: right;
}

.bookmark{
    position: relative;
}

.bookmark p{
    position: absolute;
    top:18px;
    right: 2px;
    font-size: 70%;
}

.container .content .cards .card .card-top .bookmark img{
    transform: rotate(90deg);
}

.container .content .cards .card .card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    width: 100%;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: lighter;
}

.container .content .content-2{
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .transaction{
    min-height: 59vh;
    flex: 7;
    background: #2E3648;
    margin: 8px 8px 8px 15px;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
}

.container .content .content-2 .chat{
    display: flex;
    flex-direction: column;
    min-height: 59vh;
    max-height: 59vh;
    flex: 4;
    background: #2E3648;
    margin: 8px 15px;
    border-radius: 5px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    padding-top: 15px;
    padding-left: 15px;
}

table{
    padding: 1px;
    margin: 0 15px 5px 15px;

}

th,
td{
    padding-left: 5px; 
    text-align: left;
    font-size: 80%;
    font-weight: lighter;
    align-items: center;
    color: white;
    border-bottom: 0.1px solid rgb(114, 109, 109);
    padding-bottom: 7px;
    padding-top: 7px;
    
}


#pageelement{
    display:flex; 
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: left;
    flex-direction: row;

}

.button{
    background:#626ED4;
    color: white;
    padding: 5px 6px; 
    border-radius: 2px;
    text-align: center;
    font-size: 80%;
}

.status{
    color: white; 
    padding: 2px 2px; 
    font-size: 70%;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
}


